@model IEnumerable<Jogador>

<div class="container-fluid"> 
   <div class="row">
       <div class="col-sm-12">
           <h1 class="text-center"> Futebol entre Amigos - 2022 </h1>
       </div>
   </div>

    <div class="row">
        <div class="col-sm-12">
            <a asp-controller="Home" asp-action="CriarJogador" class="btn btn-primary"><i class="fas fa-plus"></i> Novo jogador</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Foto
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Apelido
                        </th>
                        <th>
                            Data nascimento
                        </th>
                        <th>
                            Núm. Jogos
                        </th>
                        <th>
                            Gols marcados
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jogador in Model)
                    {
                        <tr>
                            <td>
                                Foto
                            </td>
                            <td>
                                @jogador.NomeJogador
                            </td>
                            <td>
                                @jogador.Apelido
                            </td>
                            <td>
                                @jogador.DataNascimento
                            </td>
                            <td>
                                @jogador.NumeroDeJogos
                            </td>
                            <td>
                                @jogador.NumeroDeGols
                            </td>
                            <td>
                                <a asp-controller="Home" asp-action="EditarJogador" asp-route-id="@jogador.Id" class="btn btn-info"><i class="fas fa-edit"></i> Editar</a>
                                <a asp-controller="Home" asp-action="DeletarJogador" asp-route-id="@jogador.Id" class="btn btn-danger"><i class="fas fa-times"></i> Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>Não há jogadores cadastrado no sistema.</h4>
                </div>
            </div>
        }

    </div>
</div>