@model IEnumerable<JogadorStorage>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center"> Futebol entre Amigos - 2022 </h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12">
            <a asp-controller="Jogador" asp-action="CriarJogador" class="btn btn-primary"><i class="fas fa-plus"></i> Novo jogador</a>
        </div>
    </div>

    @if (ViewData["MsgSuccess"] != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success alert-dismissible fade show ets-font-size-alert" role="alert">
                    <i class="fas fa-check-circle"></i>
                    @ViewData["MsgSuccess"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

        </div>

    }



    @if (Model.Count() > 0)
    {
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Apelido
                        </th>
                        <th>
                            Data nascimento
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width: 8% !important;">
                                @if (string.IsNullOrEmpty(item.Storage.Tamanho))
                                {
                                    <img src="~/image/NoImage.jpg" style="width: 100%;" />
                                }
                                else
                                {
                                     var imagem = Convert.ToBase64String(item.Storage.Arquivo);
                                     var contentType = item.Storage.ContentType;
                                    

                                    <img src="@String.Format("data:{0}; base64,{1}", contentType, imagem)" alt="@item.Storage.NomeArquivo" style="width: 100%;"/>
                                }
                            </td>
                            <td>
                                @item.Jogador.NomeJogador
                            </td>
                            <td>
                                @item.Jogador.Apelido
                            </td>
                            <td>
                                @(item.Jogador.DataNascimento.HasValue ? item.Jogador.DataNascimento.Value.ToShortDateString() : "---")
                            </td>
                            <td>
                                <a asp-controller="Jogador" asp-action="DetalhesJogador" asp-route-id="@item.Jogador.Id" class="btn btn-info"><i class="fas fa-eye"></i> Detalhes</a>
                                <a asp-controller="Jogador" asp-action="EditarJogador" asp-route-id="@item.Jogador.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                                <a asp-controller="Jogador" asp-action="DeletarJogador" asp-route-id="@item.Jogador.Id" class="btn btn-danger"><i class="fas fa-trash"></i> Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center">Não há jogadores cadastrado no sistema.</h4>
            </div>
        </div>
    }


</div>